<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.screenlocker.secure">

    <application
        android:name=".app.MyApplication"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:sharedUserId="android.uid.system"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".settings.managepassword.VerifyComboPassword"></activity>
        <activity android:name=".settings.managepassword.CombinationLockActivity" />
        <activity
            android:name="com.liveClientChat.LiveClientChatActivity"
            android:label="@string/title_activity_live_client_chat"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.secureMarket.SMActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/SecureSettingsTheme" />
        <activity
            android:name="com.secureSetting.AllNotificationActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.WhatsNew"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.managepassword.PasswordOptionsAcitivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.secureSetting.NotificationsActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".policy.PolicyActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.AdvanceSettings"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.managepassword.VerifyPatternActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.managepassword.PatternActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.dataConsumption.DataConsumptionActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.AboutActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".socket.TransparentActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".settings.Wallpaper.ChangeWallpaper"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.secureClear.SecureClearActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/SecureSettingsTheme" />
        <activity
            android:name=".settings.codeSetting.IMEIActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".permissions.InstallAppSilently"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".permissions.WelcomeScreenActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.codeSetting.ExitActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.codeSetting.secureSettings.SecureSettingsActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.codeSetting.policy.PolicyActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".launcher.MainActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenSize|screenLayout|smallestScreenSize"
            android:enabled="true"
            android:launchMode="singleTask"
            android:resumeWhilePausing="true"
            android:screenOrientation="nosensor"
            android:stateNotNeeded="true"
            android:taskAffinity=""
            android:theme="@style/HomeScreen"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
                <category android:name="android.intent.category.LAUNCHER_APP" />
            </intent-filter>
        </activity>
        <activity
            android:name=".socket.policy.ui.PolicyActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.SettingsActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.Wallpaper.WallpaperActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".permissions.SteppersActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".settings.managepassword.SetUpLockActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".appSelection.AppSelectionActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".settings.managepassword.ManagePasswords"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".settings.codeSetting.systemControls.SystemPermissionActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.codeSetting.CodeSettingActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.codeSetting.installApps.InstallAppsActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.codeSetting.Sim.SimActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mdm.MainActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".mdm.ui.LinkDeviceActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" /> <!-- optional (needed if default theme has no action bar) -->
        <!-- Declaring broadcast receiver for BOOT_COMPLETED event. -->
        <activity
            android:name="com.secureSetting.SecureSettingsMain"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/SecureSettingsTheme" />
        <activity
            android:name="com.secureMarket.SecureMarketActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/SecureSettingsTheme" />
        <activity
            android:name="com.contactSupport.ChatActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.secureSetting.t.ui.MainActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.secureSetting.t.ui.StateSettingsActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.secureSetting.t.ui.IgnoreActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.secureSetting.t.ui.StateAboutActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" /> <!-- reciever to block calls -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4ae69637afb36cd9f3268feda60e462831a0cd2e" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name=".settings.codeSetting.Sim.SimStateChangeListener">
            <intent-filter>
                <action android:name="android.intent.action.SIM_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ReBootReciever">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ShutDownReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".socket.receiver.AppsStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.secure.systemcontroll.PackageAdded" />
                <action android:name="com.secure.systemcontroll.PackageDeleted" />
                <action android:name="com.secure.systemcontroll.PackageUninstall" />
                <action android:name="com.secure.systemcontrol.PACKAGE_ADDED_SECURE_MARKET" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".MyAdmin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/policies" />
        </receiver>
        <receiver
            android:name=".utils.AppInstallReceiver"
            android:enabled="true"
            android:priority="100">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".settings.disableCalls.PhoneCallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".socket.receiver.DeviceStatusReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".offline.MyAlarmBroadcastReceiver"
            android:exported="true"
            android:permission="">
            <intent-filter>
                <action android:name="com.vortexlocker.app.alarm_time_completed" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.OfflineExpiryAlarm" />
        <receiver android:name=".service.NetworkSocketAlarm" />
        <service android:name=".utils.LifecycleReceiverService" />
        <service
            android:name=".service.LockScreenService"
            android:enabled="true"
            android:exported="true"
            android:permission="" />
        <service
            android:name=".service.DeviceNotificationListener"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
<!--        <service android:name=".socket.service.SocketService" />-->
        <service
            android:name=".MyService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".mdm.utils.LifecycleReceiverService" />
        <service
            android:name=".service.CheckUpdateService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".offline.CheckExpiryFromSuperAdmin"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".mdm.LinkStatusJobScheduler"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android:name=”android.permission.GET_TASKS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.TETHER_PRIVILEGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- bluetooth permission -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="Manifest.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> <!-- permisions for overlay windows -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- critical permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.TYPE_APPLICATION_OVERLAY" />
    <uses-permission
        android:name="android.permission.INJECT_EVENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.DELETE_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.REBOOT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.FORCE_STOP_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.STATUS_BAR"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.INTERNAL_SYSTEM_WINDOW"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.SUSPEND_APPS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.MANAGE_USERS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.RECOVERY"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />

    <uses-permission
        android:name="android.permission.SET_PREFERRED_APPLICATIONS"
        tools:ignore="ProtectedPermissions" />

</manifest>